[Unit]
Description=Auto Limit vpns+ interfaces for ocserv
After=network.target

[Service]
ExecStart=/root/watch_vpns_limit.sh 50mbit
Restart=always

[Install]
WantedBy=multi-user.target
